{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}

                {% if user.last_seen %}
                    <p>{{ user.last_seen }}</p>
                {% endif %}

                {# show the amount of our followers and followeds #}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>

                {# 如果当前用户和调用edit_profile视图函数过来的用户一致，则可以进行编辑操作, 如果不是当前用户，则可以进行关注和取消关注操作 #}
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
                    </p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow',username=user.username) }}">Follow</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow',username=user.username) }}">Unfollow</a></p>
                {% endif %}



            </td>
        </tr>
    </table>
    <br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}